template_red = #fe4b64
template_blue = #5f93fe
template_green = #9ecb45
template_yellow = #ffca2a
template_gray = #c8c6c0
template_light_gray = #e5e2db

.text-danger
  color template_red
.text-gray
  color template_gray
